/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#searchInput {
	-fx-text-fill: #FFFFFF;
}

#textInvestment {
	-fx-text-fill: #FFFFFF;
}

#textUsed {
	-fx-text-fill: #FFFFFF;
}

#textTotal {
	-fx-text-fill: #FFFFFF;
}


#listSmartphones {
	-fx-font-size: 30px;
}

#listSmartphones .list-cell {
    -fx-alignment: center;
    -fx-background-color:  #212F3C;
    -fx-text-fill: #FFFFFF; 
    
}

#listSmartphones .list-cell:filled:focused:selected {
	-fx-text-fill: #1abc9c; 
}

#listSmartphones .scroll-bar:vertical {
   -fx-padding: 0px;
}

#listSmartphones .scroll-bar:vertical {
    -fx-scale-x: 0;
}